.navbar {
  height: 150px;
  width: 100%;
  background-color: blue;
}

.page1 {
  height: 800px;
  width: 100%;
  background-color: white;
}

.milieu {
  height: 200px;
  width: 100%;
  background-color: firebrick;
}

.page2 {
  height: 900px;
  width: 100%;
  background-color: green;
}
