html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

* {-moz-box-sizing: border-box; box-sizing: border-box;}


.navbar {
  height: 150px;
  width: 100%;
  background-color: blue;
  position: fixed;
}

.page1 {
  height: 800px;
  width: 100%;
  background-color: white;
}

.milieu {
  height: 200px;
  width: 100%;
  background-color: firebrick;
}

.page2 {
  height: 900px;
  width: 100%;
  background-color: green;
}

.footer {
  height: 150px;
  width: 100%;
  background-color: red;
  position: absolute; bottom : 0; left: 0; right; 0
}
